<script type="text/javascript">
    // https://stackoverflow.com/a/2605236
    function get_elapsed_time_string(total_seconds) {
        function pretty_time_string(num) {
            return ( num < 10 ? "0" : "" ) + num;
        }

        var hours = Math.floor(total_seconds / 3600);
        total_seconds = total_seconds % 3600;

        var minutes = Math.floor(total_seconds / 60);
        total_seconds = total_seconds % 60;

        var seconds = Math.floor(total_seconds);

        hours = pretty_time_string(hours);
        minutes = pretty_time_string(minutes);
        seconds = pretty_time_string(seconds);

        var currentTimeString = hours + ":" + minutes + ":" + seconds;

        return currentTimeString;
    }

    var elapsed_seconds = {{ seconds_passed }};
    var total_seconds = {{ duration_in_seconds }};
    var finish_url = "{% url 'app:finish' student_test.id %}";
    setInterval(function () {
        elapsed_seconds = elapsed_seconds + 1;
        if (elapsed_seconds >= total_seconds)
            window.location.replace(finish_url);
        $('#time').text(get_elapsed_time_string(total_seconds - elapsed_seconds));
    }, 1000);
</script>